<article class="">
  <div class="">
    <a href="{{post.id}}" target="_blank">{{post.title}}</a>
    <p>Created: ({{post.created_at}})</p>
    <p>Blog post author: {{post.user.username}}</p>
    <div>
        <p>{{post.post_body}}</p>
    </div>
  </div>
</article>

<form class="">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add comment</button>
  </div>
</form>

<div class="">
  {{#each post.comments}}
  <section class="comment">
    <div class="">
      {{post.user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

