<article class="">
  <div class="">
    <a href="{{post.id}}" target="_blank">{{post.title}}</a>
    <p>Created: ({{post.created_at}})</p>
    <p>Blog post author: {{post.user.username}}</p>
    <div>
        <p>{{post.post_body}}</p>
    </div>
  </div>
</article>



